{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="about-me-carousel">
        <div class="about-me">
            <h1 id="about-me-title">Hello !</h1>
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam vitae tenetur sequi. Qui reiciendis aperiam commodi. Alias laboriosam, accusantium, aliquam cumque dolore doloremque sapiente nulla ipsam voluptas corrupti quas adipisci?</div>
        </div>
    </div>
{% endblock %}
