{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="about-me-carousel">
        <div class="carousel">
        </div>
        <div class="about-me">
            <div class="title-about-me"></div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores delectus iure dolore soluta numquam eaque explicabo praesentium voluptates. Ex sunt eveniet saepe perspiciatis dolorem voluptate veniam illum maiores ducimus et?</div>
        </div>
    </div>
{% endblock %}
