{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="about-me-carousel">
        <div class="about-me">
            <h1 id="about-me-title">Bonjour !</h1>
            <h2>Merci de votre visite !</h2>
            <p>Je suis Cameron Cardinal, développeur web et web mobile. Bienvenue sur mon site !</p>
            <p>Originellement bibliothécaire de formation, j'ai choisi de me reconvertir dans le milieu du développement web, qui me plaisait énormément. J'ai donc d'abord obtenu un titre professionnel développeur web et web mobile, et c'est donc naturellement que je me lance maintenant dans une nouvelle aventure avec un bachelor Concepteur Développeur d'application en alternance.</p>
            <p>Dans le même temps, je continue de travailler sur des projets personnels pour en apprendre davantage, aussi bien sur des frameworks que je connais que sur d'autres que je maîtrise moins bien. Si vous le souhaitez, vous pouvez découvrir mes <a href="/projets">projets</a>, <a href="/experiences">expériences</a> et <a href="/competences">compétences</a> sur les différentes pages de ce portfolio.</p>
            <p>Si vous le souhaitez, vous pouvez également prendre contact avec moi en remplissant ce <a href="/contact">formulaire</a>, ou sur mes réseaux sociaux.</p>
        </div>
    </div>
{% endblock %}
