{% extends 'base.html.twig' %}

{% block title %}Compétences{% endblock %}

{% block body %}
<div class="skills-intro">
    <h1>Compétences</h1>
    <p>Si mon profil vous intéresse, ou si vous êtes simplement curieux.se, vous pouvez également télécharger mon CV <a href="{{ asset('download/CARDINAL-CV-Concepteur-Développeur-applications.pdf') }}" download>ici.</a></p>
</div>
{% endblock %}
