{% extends 'base.html.twig' %}

{% block title %}Projets{% endblock %}

{% block body %}
    <h1>Projets</h1>
    <div id="project-list">
        {% include "project/list.html.twig" with { projects } %}
    </div>
{% endblock %}
