<header>
    <div class="container">
        <div class="top-header">
            <a href="/">Portfolio</a>
            <nav class="topnav">
                <ul class="nav-list">
                    <li class="nav-list-item">
                        <a class="nav-list-link" href="/">A-propos</a>
                    </li>
                    <li class="nav-list-item">
                        <a class="nav-list-link" href="/competences">Compétences</a>
                    </li>
                    <li class="nav-list-item">
                        <a class="nav-list-link" href="/experiences">Expériences</a>
                    </li>
                    <li class="nav-list-item">
                        <a class="nav-list-link" href="/projets">Projets</a>
                    </li>
                    <li class="nav-list-item">
                        <a class="nav-list-link" href="/contact">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>