<header>
    <nav>
        <div class="nav-buttons">
            <div id="logo">fledgless</div>
            <i id="hamburger" class="fa-solid fa-bars"></i>
            <button id="dark-mode">
                <i class="fa-regular fa-sun"></i>
                <i class="fa-solid fa-moon"></i>
            </button>
        </div>
        <hr width="1000" height="1">
        <ul class="nav-list">
            <li>
                <a class="nav-links" href="/">Accueil</a>
            </li>
            <li>
                <a class="nav-links" href="/competences">Compétences</a>
            </li>
            <li>
                <a class="nav-links" href="/experiences">Expériences</a>
            </li>
            <li>
                <a class="nav-links" href="/projets">Projets</a>
            </li>
            <li>
                <a class="nav-links" href="/contact">Contact</a>
            </li>
        </ul>
    </nav>
</header>